<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking Confirmation</title>
</head>
<body>
<h2>Hello,</h2>
<p>Your booking is confirmed!</p>

<p><strong>Booking ID:</strong> <span th:text="${bookingId}"></span></p>
<p><strong>Show Time:</strong> <span th:text="${showTimeId}"></span></p>
<p><strong>Seats:</strong> <span th:text="${seats}"></span></p>
<p><strong>Booking Time:</strong> <span th:text="${bookingTime}"></span></p>

<p>Enjoy your movie! 🎬</p>
</body>
</html>
